[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
autopep8 = "*"
pylint = "*"

[packages]
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
idna = "==2.9"
requests = "==2.24.0"
urllib3 = "==1.25.9"
reqtry = "<1.0"
tendawifi = "<1.0"
marcotools = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
